.metadata/
acmsctl/
acmslib/
BassProShop/
BuildJavaSource/
BuildSQLSource/
cohere/
ConcentricAB/
ConnectDB/
dmbowman/
DSCLogistics/
flores_cohere/
flores_dmbowman/
flores_follett/
flores_hibbett/
flores_mccarthy/
flores_safco/
flores_walsworth/
flores_test/
Follett/
Hibbett/
HubGroup/
jda/
test/
JSONSimple/
servers/
walsworth/
safco/
CopyIFSToPC/bin/
CopyIFSToPCHibbett/bin/
CopyIFSToPCNew/bin/
DropIndexMySQL/bin/
FixSQLSource/bin/
RunJavaProgram/bin/
download/bin/
BuildNPMInstallBat/bin/
*.log